.transactionhistory{
    width: 471px;
}

.thead{
    background-color: cornflowerblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 20px;
}


.th:not(:last-child) {
    padding-right: 20px;
}

.tr{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 51px;
}

.td{
    display: flex;
        justify-content: center;
}
        